



/******banner-section****/
.banner-section{
    background: url(../images/banner.jpg) no-repeat center center;
    height: 650px;
    background-size: cover;
    padding: 20px 0;
    position: relative;
    z-index: 1;
}


.banner-section::after{
	content: "";
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -1;
	background: rgba(0,0,0,0.5);

}
.banner-section h2{
    color: #fff;
    font-size: 30px;
    font-family: Roboto;
    letter-spacing: 1px;
    font-weight: 500;
}
.banner-section span{
    color: #fff;
    letter-spacing: 4px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: -5px;
    display: inline-block;
    font-weight: 600;
}
.banner-section-menu{}
.banner-section-button{}
.banner-section ul{
    display: flex;
    justify-content: flex-end;
}
.banner-section ul li{list-style: none;}
.banner-section ul li a{
    text-decoration: none;
    font-size: 22px;
    padding: 0 20px;
    color: #fff;
}
.abir{
    color: #fff;
    background: red;
    text-decoration: none;
    font-size: 22px;
    border-radius: 50px;
    padding: 10px 25px;
    transition: .4s;
    cursor: pointer;
}
.abir:hover{
	color:red;
	background: #fff;
	transform: scale(1.1);
}
.banner-section-text{
    padding-top: 150px;
}
.banner-section-text h3{
    color: #fff;
    font-size: 30px;
    letter-spacing: 1px;
}
.banner-section-text h1{
    font-size: 70px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 25px;
}
.span{
    background: red;
    display: block;
    width: 10%;
    height: 3px;
    margin: auto;
}

/*****banner-section2****/


.banner-section2{
    padding: 80px;
    background: #6f42c11a;
}
.banner-section2-text{}
.banner-section2-text h3{
    color: #555;
    margin-bottom: 30px;
}
.banner-section2-text strong{
    color: #333;
    font-size: 25px;
}
/*****banner-section3*****/
.banner-section3{
    padding: 150px;
}
.banner-section3-text {}
.banner-section3-text h1{
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 30px;
}

.banner-section3-img{
    margin-top: 100px;
}
.banner-section3-img img{
    width: 85%;
}
.banner-section3-img{
    margin-top: 70px;
}
.banner-section3-img h2{margin-top: 30px;font-weight: 700;}
.banner-section3-img p{
    width: 450px;
    margin: auto;
    margin-bottom: 35px;
    color: black;
}
/*****banner-section4*****/
.banner-section4{
	 background: url(../images/banner2.jpg)no-repeat center center;
    background-size: cover;
    height: 600px;
    position: relative;
    z-index: 1;
}
.banner-section4::after{
	content: "";
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}
.text{
    margin-top: 90px;
    margin-left: 120px;
}

.ayan{
	 background: red;
	 height: 2px;
	 display: block;
	 width: 12%;
	 margin: auto;
}
.text h1{
    color: #fff;
    font-size: 40px;
    font-weight: 700;
}
.text p{
    color: #fff;
    font-size: 20px;
    margin-bottom: 40px;
}
/*******banner-section5*****/
.banner-section5{
    padding: 150px 0;
}
.tour{
    margin-right: 50px;
}
.tour h1{
    font-weight: 700;
    font-size: 37px;
}
.tour p{
    margin-bottom: 40px;
}
.asha{
    margin-left: 8px;
    margin-bottom: 55px;
    background: red;
    height: 2px;
    display: block;
    width: 20%;
}



.tour-img{}
.tour-img img{
	width: 100%
}
.img1{
    margin-bottom: 20px;
}
.img2{}
/*****banner-section6*****/
.banner-section6{
    padding: 40px 0;
    background: black;
}
.text1{}
.text1 h6{
    color: #fff;
    line-height: 20px;
    letter-spacing: 1px;
}
.text1 p{
    color: #fff;
    letter-spacing: 1px;
    margin-top: 17px;
}